# next
/.next/
/out/

# node
/node_modules

# env
.env
.env*.local

# prisma / db
/prisma/dev.db
/prisma/dev.db-journal

# storage (dokumen & surat yang diunggah/di-generate)
/storage

# misc
.DS_Store
*.pem
npm-debug.log*
tsconfig.tsbuildinfo
